$fontStack: Helvetica, sans-serif
$primaryColor: #2a9d8f
$darkColor: #0f5e4f
$ligthColor: #2a9d8f
$fontColor: #ffffff
$fontColorDark: #000000

.generalBody
    font-size: 17px
    min-height: 100vh
body
    padding: 0
    margin: 0

.tarjetas
    display: flex
    align-items: stretch
    flex-wrap: wrap
    flex-direction: row
    justify-content: center
    margin-top: 2%

.textoTrjetas
    height: 40%

.tarjeta
    margin: 1%
    width: 20rem
    height: 14rem

.cardHeader
    font-weight: bold !important
    background-color: $primaryColor !important
    color: white

.pagina
    text-align: center
    justify-content: center
    min-height: 500px !important

.textoIntro
    margin-right: 10%
    margin-left: 10%

.empresaInput
    padding: 0
    margin: auto
    max-width: 400px !important
    text-align: center

.empresaInputMain
    padding: auto
    margin: auto
    max-width: 500px
    text-align: center

.inputMargin
    max-width: 400px !important
    margin: 5px !important
    padding: 5px !important
    text-align: center

.empresaInputForm
    max-width: 300px
    padding: auto
    margin: auto

.select
    max-width: 500px
    margin: 4px auto 4px auto !important
    padding: 4px auto 4px auto !important

.peUnidades
    background-color: $ligthColor !important

.btnFlotante
    position: absolute
    left: 10px
    top: 50px
    z-index: 999
    border-radius: 60px !important
    padding: 0px !important

.btnFlotanteRigth
    position: absolute
    right: 10px
    top: 50px
    z-index: 999
    border-radius: 60px !important
    padding: 0px !important

.btnBkHome
    background-color: $primaryColor
    padding: 1px !important

.generalBody
    padding-bottom: 2vw
    padding-top: 2vw

.checkBox
    margin: 5px !important

.checkboxContainer
    display: flex
    justify-content: center
    flex: .25

.carrusel
    color: black !important
    height: 100% !important

.imgC
    max-height: 450px
    min-height: 450px
    @media (max-width: 780px)
        max-height: 465px !important
        min-height: 465px !important

.scrollText
    @media (max-width: 700px)
        overflow-y: scroll
        max-height: 410px !important
        min-height: 410px !important

.steperButton
    border-radius: 70px !important
    padding: 0px !important

.inputPorcentajes
    display: flex !important
    max-width: 200px
    height: 40px

.dropdownItem
    margin-left: 10px

.listaRequerimientos
    display: inline-block
    text-align: left

.listaRequerimientosli
    font-weight: bold

.githubLink
    text-decoration: none
    font-weight: 300
    color: white

.mobileH1
    @media (max-width: 1100px)
        margin-top: 25px

.maxWidthImg
    max-width: 375px
    height: auto

.decoNone
    text-decoration: none
    color: white

.license a
    color: white

.carruselScreen
    display: flex
    flex-wrap: nowrap
    text-align: center

.carruselCont
    flex: 0 0 70%
    @media screen and (max-width: 700px)
        flex: 0 0 100%
        z-index: 1

.carruselIMG
    max-width: 30%
    flex: 0 0 30%
    max-height: 350px
    margin-left: auto
    @media screen and (max-width: 700px)
        position: absolute
        z-index: 0
        flex: 0 0 100%
        max-width: 100%
        opacity: 0.25
        top: 50%
        left: 50%
        transform: translate(-50%, -50%)

.carruselIMGEval
    position: absolute
    z-index: 0
    flex: 0 0 100%
    max-width: 100%
    opacity: 0.25
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
    max-height: 350px

.transparente
    background-color: #ffffff !important
    border: 0px solid $primaryColor !important
    padding: 0px
    margin: 0px

.modalHeader
    background-color: $primaryColor !important

.modalTitle
    color: #ffffff !important
    font-weight: 600
