$fontStack: Helvetica, sans-serif
$primaryColor: #0277bd
$secondaryColor: #7986cb
$secondaryColorLigth: #aab6fe
$secondaryColorDark: #49599a
$darkColor: #004c8c
$ligthColor: #58a5f0
$fontColor: #ffffff
$fontColorDark: #000000

#navBar
  background-color: $primaryColor
  color: white
  margin: 0
  padding: 0
  height: 50px

#responsive-navbar-nav
  background-color: $primaryColor
  border-radius: 10px
  margin-top: 5px
  padding-top: 5px
  column-gap: 10px

#navBarDropdown
  text-decoration: none
  color: $fontColor
  font-weight: bold !important
  margin-top: -8px

.navBarBrand
  text-decoration: none
  font: bolder
  font-weight: bold
  color: $fontColor
  font-size: 14px
  margin-left: 4px
  @media (max-width: 770px)
    display: none !important

.navBarBrand2
  text-decoration: none
  font: bolder
  font-weight: bold
  color: $fontColor
  font-size: 16px
  display: none
  margin-left: 4px
  @media (max-width: 770px)
    display: block !important

.navBarItem
  text-decoration: none
  color: $fontColor
  margin-right: 15px
  margin-top: auto
  margin-bottom: 15px
  padding: auto
  font-weight: bold !important

#footer
  background-color: $primaryColor
  color: white

.dropdown-menu
  position: absolute !important
