$font-stack:    Helvetica, sans-serif
$primary-color: #3367aa

.navBar
  background-color: $primary-color
  color: white
  margin: 0
  padding: 0
  height: 50px
  width: 100%
  display: flex

.brandName
  flex: 25%

.items
  flex: 70%

.itemNav
  font: bold
  margin-right: 10px
  color: white