$primaryColor: #0277bd
$secondaryColor: #7986cb
$secondaryColorLigth: #aab6fe
$secondaryColorDark: #49599a
$darkColor: #004c8c
$ligthColor: #58a5f0
$fontColor: #ffffff
$fontColorDark: #000000
.textosEncuadre
  margin: auto 5%
  text-align: justify
  min-height: 14em
.textosEncuadre h5
  text-align: center
.textosEncuadre ol > li::marker
  font-weight: bold


.textosEncuadre span
  color: $primaryColor !important
  cursor: pointer

.textosEncuadre p
  text-align: justify

.CentrarTexto
  text-align: center !important
  font-weight: bold !important

.NoPuntear ul
    list-style-type: none

.textosEncuadre thead
  text-align: center

.alinearDerecha
  text-align: end !important

.alinearCentro
  text-align: center !important
  justify-content: center !important
  align-content: center !important
  align-items: center !important

Table
  margin: auto

.tabla1
  @media (max-width: 800px)
    width: 90% !important
  width: 40% !important

.tabla2
  @media (max-width: 800px)
    width: 100% !important
  width: 50% !important

.tabla3
  @media (max-width: 800px)
    width: 90% !important
  width: 50% !important

.tabla4
  @media (max-width: 1050px)
    width: 100% !important
  width: 55% !important
  text-align: center

.tabla5
  @media (max-width: 900px)
    width: 80% !important
  @media (max-width: 500px)
    width: 130% !important
  width: 50% !important

.azul
  color: $primaryColor

.scrollTabla
  overflow-x: auto !important

.formulaLarga
  width: 100%
  margin: auto

.imagenTabla
  width: 280px

.Imagenes
  @media (max-width: 800px)
    width: 95% !important